.header {
  background-color: white;

  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding: 0;
    justify-content: space-around;
  }
}
.header-margin {
  margin: 0 20px;
}
.burger-svg {
  fill: #4190de;
  stroke: #4190de;
  height: 40px;
  width: 40px;
}
.burger-button {
  background-color: white;

  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-svg:focus {
  fill: black;
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}
.main-nav-item {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
}
.main-nav-item:focus,
.main-nav-item:hover {
  color: #4190de;
}
@media screen and (min-width: 1158px) {
  .main-nav-item {
    font-size: 20px;
  }
}
.main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .main-nav {
    gap: 55px;
  }
}
.logo-header {
  width: 40px;
  height: 23px;
}
@media screen and (min-width: 768px) {
  .logo-header {
    width: 90px;
    height: 50px;
  }
}
/* MOBILE MENU */
.modal-butt:hover > .close-svg {
  fill: #ffffff;
}
.modal-butt:focus > .close-svg {
  fill: #ffffff;
}
.modal-butt {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt-color {
  background-color: white;
}
.mob-win-nav:focus,
.mob-win-nav:hover {
  color: #4190de;
}
.mob-win-nav {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  color: #000;

  letter-spacing: 0.02em;
}

.mob-win-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.modal-gap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-num {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;

  color: #4190de;
}
.modal-num:focus,
.modal-num:hover {
  color: black;
}
.modal-butt:focus {
  border: none;
  background-color: #4190de;
}
.modal-butt:hover {
  border: none;
  background-color: #4190de;
}

.mobile-menu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 10px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 320px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-svg-list {
  display: flex;
  justify-content: space-around;
}

.menu-svg {
  fill: white;
}
.svg-sphere {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4190de;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* СЕКЦИЯ ХИРО */
/* 
 /* */

/*  */
/*  */
/*  */
/*  */
.hero-section-container {
  padding-bottom: 66.65%;
  padding-top: 66.65%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(50, 67, 83, 0.85) 1.67%,
      rgba(27, 42, 56, 0.85) 43%,
      rgba(27, 42, 56, 0.85) 62%,
      rgba(50, 67, 83, 0.85) 100%
    ),
    url("mobile-cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero-section-container {
    padding-bottom: 28.125%;
    padding-top: 28.125%;
    background-image: linear-gradient(
        180deg,
        rgba(50, 67, 83, 0.85) 1.67%,
        rgba(27, 42, 56, 0.85) 43%,
        rgba(27, 42, 56, 0.85) 62%,
        rgba(50, 67, 83, 0.85) 100%
      ),
      url("tablet-cover.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero-section-container {
    background-image: linear-gradient(
        180deg,
        rgba(50, 67, 83, 0.85) 1.67%,
        rgba(27, 42, 56, 0.85) 43%,
        rgba(27, 42, 56, 0.85) 62%,
        rgba(50, 67, 83, 0.85) 100%
      ),
      url("desktop-cover.jpg");
  }
}

.hero-section-h {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #dee6ec;
}
@media screen and (min-width: 768px) {
  .hero-section-h {
    margin-bottom: 20px;

    font-size: 42px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section-h {
    font-size: 80px;
  }
}
.hero-section-p {
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #dee6ec;
}
@media screen and (min-width: 768px) {
  .hero-section-p {
    font-weight: 600;
    font-size: 21px;
    width: 580px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section-p {
    font-size: 40px;
    width: 1130px;
  }
}

/* footer */
.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #4190de;
}
@media screen and (min-width: 768px) {
  .footer-section {
    height: 144px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-section {
    height: 240px;
  }
}
.burger-svg-footer {
  fill: #ffff;
  stroke: #ffff;
  height: 40px;
  width: 40px;
}
.burger-button-footer {
  background-color: #4190de;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-svg:focus {
  fill: black;
}
@media screen and (min-width: 768px) {
  .burger-button-footer {
    display: none;
  }
}

/* still footer */

.footer-content-container {
  display: none;
  gap: 60px;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .footer-content-container {
    display: flex;
    gap: 5vw;
    justify-content: space-around;
  }
}
.footer-media-collumns {
  display: flex;
  gap: 3vw;
}
.footer-media-list {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
@media screen and (min-width: 1158px) {
  .footer-media-list {
  }
}
.footer-media-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1158px) {
  .footer-media-item {
    font-size: 24px;
  }
}
.dissconnect-stick {
  height: 80px;
  width: 1px;
  background-color: white;
}
@media screen and (min-width: 1158px) {
  .dissconnect-stick {
    height: 160px;
    width: 2px;
  }
}
.contact-us-p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}
@media screen and (min-width: 1158px) {
  .contact-us-p {
    margin-bottom: 22px;

    font-size: 28px;
  }
}
.footer-media {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.footer-media-orb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
@media screen and (min-width: 1158px) {
  .footer-media-orb {
    width: 40px;
    height: 40px;
  }
}
.footer-svg {
  fill: #4190de;
  stroke: none;
}
.footer-svg-facebook {
  width: 8px;
  height: 15px;
}

.footer-svg-phone {
  width: 12px;
  height: 12px;
}
.footer-svg-telegram {
  width: 12px;
  height: 10px;
}
.footer-svg-insta {
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 1158px) {
  .footer-svg-facebook {
    width: 16px;
    height: 30px;
  }
  .footer-svg-insta {
    width: 24px;
    height: 24px;
  }
  .footer-svg-telegram {
    width: 24px;
    height: 20px;
  }
  .footer-svg-phone {
    width: 24px;
    height: 24px;
  }
}
.logo-footer {
  width: 82px;
  height: 40px;
  fill: white;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    width: 100px;
    height: 52px;
  }
}
@media screen and (min-width: 1158px) {
  .logo-footer {
    width: 200px;
    height: 101px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-orb-resize {
    height: 24px;
  }
}
